img{
    width: 500px;
    height: auto;
    /* margin: 0 auto;
    display: block;
    position: relative; */
}

.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #121313 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.relative{
    position: relative;
}